# ln -s <path> /etc/systemd/system/void.service

[Unit]
Description=Social Kinesphere Projections
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/void3/social-kinesphere/start.sh
WorkingDirectory=/home/void3/social-kinesphere
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=default.target
